/* IE specific css for Slideshow CK */
.carouselck_wrap:after {
	background: none;
}

.carouselck_wrap .carouselck_pag .carouselck_pag_ul li {
    float:left !important;
}

div.carouselck_thumbs_cont {
	background: transparent;
}


.carouselck_caption {
	bottom: 10px;
	display: block;
	position: relative !important;
	/*width: 100%;*/
}
.carouselck_caption > div {
	padding: 10px 20px;
}

.carouselck_caption {
	color: #fff;
	margin-bottom: 35px;
}
.carouselck_caption > div {
	background: #000;
	background: rgba(0,0,0, 0.7);
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}