@font-face {
    font-family: 'robotoregular';
    src: url('../css/fontes/Roboto-Regular.eot');
    src: url('../css/fontes/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/fontes/Roboto-Regular.woff') format('woff'),
        url('../css/fontes/Roboto-Regular.ttf') format('truetype'),
        url('../css/fontes/Roboto-Regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../css/fontes/Roboto-Light.eot');
    src: url('../css/fontes/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../css/fontes/Roboto-Light.woff') format('woff'),
        url('../css/fontes/Roboto-Light.ttf') format('truetype'),
        url('../css/fontes/Roboto-Light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../css/fontes/Roboto-Thin.eot');
    src: url('../css/fontes/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../css/fontes/Roboto-Thin.woff') format('woff'),
        url('../css/fontes/Roboto-Thin.ttf') format('truetype'),
        url('../css/fontes/Roboto-Thin.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rubik';
    src: url('fontes/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cordia-New';
    src: url('fontes/cordia-new.woff2') format('woff2'),
        url('fontes/cordia-new.woff') format('woff'),
        url('fontes/cordia-new.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: circle;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*ol li,
ul li {
    margin-bottom: 10px;
} */

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**  General **/

* {
    margin: 0;
}

html {
    overflow-y: scroll !important;
    width: 100% !important;
}

html,
body {
    height: 100%;
    margin: 0 !important;
}

body {
    text-align: left;
    font-family: Arial;
    font-size: 18px;
    line-height: 1.4em;
    color: #000;
}

a {
    color: #010530;
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: lighter;
}

a:hover {
    color: #727272;
    transition: linear 100ms;
}

img {
    border-style: none;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

p {
    font-family: 'Cordia-New';
    font-size: 1.75rem;
    line-height: 1.2em;
    margin: 8px 0;
}

h1 {
    font-family: 'Rubik';
    font-weight: lighter;
    color: #000;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 a {
    color: #6fe3f2;
    text-decoration: none;
}

h1 a:hover {
    color: #000000;
    text-decoration: none;
    transition: linear 100ms;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Rubik';
    font-weight: lighter;
    color: #010530;
    line-height: 1.7;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #383838;
}

h2 a {
    color: #000000;
    text-decoration: none;
}

h2 a:hover {
    color: #6fe3f2;
    text-decoration: none;
    transition: linear 100ms;
}

h3 {
    font-family: 'Rubik';
    font-weight: lighter;
    color: #000;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

h3 a {
    color: #000000;
    text-decoration: none;
}

h3 a:hover {
    color: #6fe3f2;
    text-decoration: none;
    transition: linear 100ms;
}

.moduletable h3 {
    font-family: Arial;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.5em;
    margin-bottom: 6px;
}

h4 {
    font-family: 'Rubik';
    color: #000;
    font-size: 1.625rem;
    margin: 10px 0;
    font-weight: lighter;
}

h5 {
    font-family: 'Rubik';
    color: #000;
    font-size: 1.375rem;
    margin: 10px 0;
    font-weight: lighter;
}

h6 {
    font-family: 'Rubik';
    color: #000;
    font-size: 1.3rem;
    font-weight: lighter;
}

hr {
    border: 0;
    color: rgb(226, 226, 226);
    background-color: rgb(226, 226, 226);
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
    font-family: "Cordia-New";
    font-size: 1.75rem;
    font-weight: bold;
    opacity: 1;
}

article a {
    color: #727272;
    font-family: "Cordia-New";
    font-weight: bold;
}

article a:hover {
    color: #232323;
    text-decoration: none;
    transition: linear 100ms;
}

.tip {
    font-size: 0.9em;
    text-align: left;
    line-height: 1.2em;
    padding: 3px;
    max-width: 400px
}

.tip-title {
    font-weight: bold;
}

#system-message {
    padding: 0;
    margin: 0;
}

#wrapper {
    display: block;
    padding: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/** Buttoms **/

#login-form input.button,
#member-profile button.validate,
#member-registration button.validate,
#user-registration button.validate,
.logout button,
.login button,
#searchForm button,
#contact-form button.validate,
#mailto-window button,
.btn {
    float: right;
    width: auto;
    background-color: #232323;
    padding: 5px 15px;
    color: #ffffff;
    font-family: Arial;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    line-height: 1.4;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #727272;
}

#login-form input.button:hover,
#member-profile button.validate:hover,
#member-registration button.validate:hover,
#user-registration button.validate:hover,
.logout button:hover,
.login button:hover,
#searchForm button:hover,
#contact-form button.validate:hover,
#mailto-window button:hover,
.btn:hover {
    transition: linear 150ms;
    color: #FFF;
    text-decoration: none;
    background-color: #727272;
    border-color: #EEE;
}

.readmore a {
    font-weight: 700;
    font-size: 15px;
    float: right;
}

.readmore a:hover {
    color: #232323;
}

#midias {
    text-align: right;
}

.custom-midias p {
    /*display: inline-table;*/
}

.custom-midias p .email {
    line-height: 2;
}

.custom-midias p a {
    text-decoration: none;
    color: #000;
}

.custom-midias p a:hover {
    color: #FFF;
    transition: linear 100ms;
}

.midias {
    display: table-cell;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.custom-contatos-topo>div p {
    text-align: right;
    color: #FFF;
    font-size: 16px;
    margin: 0;
    padding: 7px 15px;
}

.custom-contatos-topo>div p span {
    font-family: Arial;
}

.custom-contatos-topo>div.smallcontact {
    display: none;
}

/** Header **/

#header_wrap {
    width: 100%;
    display: table;
    position: fixed;
    z-index: 8;
    top: 0;
    background-color: #23232375;
    border-bottom: 1px solid #14395F;
}

#header {
    width: 1170px;
    margin: auto;
}

#logo {
    float: left;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    margin-bottom: -30px;
}

#logo a {
    text-decoration: none;
    display: table;
    line-height: 0;
    padding: 0px 15px;
    border: 1px solid #14395F;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

#logo a:hover {
    text-decoration: none;
    transition: linear 100ms;
}

#logo div.sitedescription {
    font-family: Arial;
    font-size: 0.40em;
    letter-spacing: 0;
    color: #fff;
    padding-left: 2px;
}

#logo img {
    width: auto;
}

#topnav_wrap {
    width: 100%;
    display: table;
}

#topnav {}

/** Topmenu (added multi-level support v1.1) **/

.menutop {
    float: right;
}

#topmenu_wrap {
    float: right;
}

#topmenu {
    display: inline-block;
    margin-top: 5px;
    padding-bottom: 0%;
}

#topmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#topmenu span {
    cursor: default;
}

#topmenu span,
#topmenu a {
    font-family: 'Rubik';
    font-size: 18px;
    display: block;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}

#topmenu span:hover,
#topmenu a:hover {
    color: #232323;
    text-shadow:
        0 0 2px #727272,
        0 0 2px #727272,
        0 0 2px #727272,
        0 0 2px #727272;
    transition: linear 100ms;
}

#topmenu li.active a,
#topmenu li.active a:hover {
    text-decoration: none;
    border: 0;
    color: #BBBBBB;
    transition: linear 100ms;
}

#topmenu li {
    float: left;
    margin: 10px 15px;
    line-height: 1;
}

/** Second-level lists **/

#topmenu li ul {
    position: absolute;
    font-family: Arial;
    font-size: 12px;
    width: 150px;
    left: -999em;
    /* "display: none" not seen by screen readers */
    background-color: rgba(0, 0, 0, 0.67);
    border: 0;
    margin-left: -16px;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    /*border: 1px solid #6fe3f2;*/
    border-top: 0;
    margin-top: 1px;
}

#topmenu li li,
#topmenu li li:first-child {
    border: 0;
    margin-bottom: -1px;
    /* iPhone/iPad fix */
    margin: 0;
    padding: 0 15px;
    width: calc(100% - 30px);
    text-align: left;
}

#topmenu li li a {
    width: 100%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#topmenu li ul a {
    width: 100%;

}

#topmenu li.active ul a:hover {
    color: #fff;
    text-decoration: none;
    transition: linear 100ms;

}

#topmenu li.active ul a {
    text-decoration: none;
}

/** Level third and above **/

#topmenu li ul ul {
    margin: -39px 0 0 220px;
}

#topmenu li:hover ul ul,
#topmenu li:hover ul ul ul,
#topmenu li.sfhover ul ul,
#topmenu li.sfhover ul ul ul {
    left: -999em;
    transition: linear 100ms;
}

#topmenu li:hover ul,
#topmenu li li:hover ul,
#topmenu li li li:hover ul,
#topmenu li.sfhover ul,
#topmenu li li.sfhover ul,
#topmenu li li li.sfhover ul {
    /* nested under hovered items */
    left: auto;
}

/** Content/Menu Wrap **/

#content-menu_wrap_bg {
    /* min-height: 500px; */
    width: 100%;
    display: table;
    margin-bottom: 45px;
}

#content-menu_wrap {
    width: 1170px;
    margin: auto;
}

#content-menu_wrap_bg .galeria {
    width: 1170px;
    margin: 0px auto 50px auto;
    display: table;
}

#content-menu_wrap_bg .galeria>div {
    width: 46%;
    margin: 0 2%;
    float: left;
}

#content-menu_wrap_bg .galeria h2 {
    color: #b50101;
    font-size: 22px;
    font-family: Arial;
    margin: 20px 0 10px 0;
}

/** Breadcrumbs **/

#breadcrumbs {
    width: 100%;
    display: table;
}

/** Menus (Left/Right) **/

#leftmenu {
    width: 25%;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    float: left;
}

#rightmenu {
    width: 25%;
    padding: 0px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 5%;
    float: right;
}

#leftmenu a,
#rightmenu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #6fe3f2;
}

#leftmenu a:hover,
#rightmenu a:hover {
    text-decoration: none;
}

#leftmenu ul,
#rightmenu ul {
    padding-left: 0px;
    list-style-type: none;
    margin: 0px;
    background-color: #6fe3f2;
}

#leftmenu ul li,
#rightmenu ul li {
    border-bottom: 1px solid #2ab8c1;
    padding: 10px 20px;
    list-style: none;
    margin: 0;
}

#leftmenu ul li ul,
#rightmenu ul li ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#leftmenu ul li ul li,
#rightmenu ul li ul li {
    border: 0px;
    padding-bottom: 2px;
    list-style-type: none;
    font-size: 0.96em;
    line-height: 1.5em;
}

#leftmenu ul.menu li.current {
    background-color: #6fe3f2;
}

#leftmenu ul.menu li.current a,
#rightmenu ul.menu li.current a {
    font-family: Arial;
    color: #6fe3f2;
}

#leftmenu ul.menu li.current ul li a,
#rightmenu ul.menu li.current ul li a {
    font-family: Arial;
}

/** Content **/

#content-w1 {
    /** left and right menu visible **/
    width: 50%;
    float: left;
    padding-top: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}

#content-w2 {
    /** left or right menu visible **/
    width: 70%;
    float: left;
    padding-top: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}

#content-w3 {
    /** no menu visible **/
    width: 100%;
    float: left;
    padding-top: 45px;
    overflow: hidden;
    margin-bottom: 30px;

}

#content-w1 h3,
#content-w2 h3,
#content-w3 h3 {
    margin-top: 20px;
}

#content-top {}

#content-bottom {
    display: table;
    width: 100%;
    background-color: #6fe3f2;
}

ul.actions {
    margin: 0;
    padding: 0;
    margin-top: -6px;
    margin-bottom: -2px;
    list-style-type: none;
    text-align: right;
}

li.print-icon,
li.email-icon,
li.edit-icon {
    display: inline;
    margin-right: 2px;
}

li.print-icon a,
li.email-icon a,
li.edit-icon a {
    text-decoration: none;
}

dl.article-info {
    clear: both;
    margin-left: 0;
    padding: 0px;
    font-size: 0.86em;
    line-height: 1.3em;
    margin-bottom: 6px;
}

.article-info dd,
.article-info dd {
    margin-left: 0;
}

.article-info-term {
    display: none
}

.categories-list ul {
    list-style-type: none;
    padding-left: 0;
    padding-left: 5px;
    margin-top: 8px;
}

.categories-list ul li {
    list-style-type: none;
    padding-left: 5px;
}

.categories-list dl dt,
.categories-list dl dd {
    display: inline;
}

.image-left {
    float: left;
    margin-top: 0pt;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-left: 0pt;
}

.category-desc p img {
    float: left;
    margin-top: 0pt;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 0pt;
}

.first ul {
    padding-left: 15px;
    padding: 5px;

}

.first ul li {
    padding-bottom: 8px;
    padding: 5px;

}

.last ul {
    padding-left: 15px;

}

.last ul li {
    padding-top: 10px;
}

.cat-children ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0px;
}

ul#archive-items {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0px;
}

.intro ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

fieldset.filters {
    border: solid 0px #ddd;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 2px;
}

legend.hidelabeltxt {
    display: none;
}

.items-leading {
    margin-bottom: 20px;
}

.newsfeed ol li {
    margin-top: 10px;
}

.newsfeed ol li img {
    margin-top: -10px;
}

#article-index {
    width: 25%;
    float: right;
    border: solid 1px #eee;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: #f9faf9
}

#article-index h3 {
    font-size: 1em;
}

#article-index ul {
    list-style-type: disc;
    padding-left: 1.4em;
    color: #666;
}

.pagenavcounter {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-mini.pull-right {
    float: right;
    border: 1px solid #bbbbbb;
    background-color: inherit;
    padding-left: 4px;
    padding-right: 3px;
    line-height: 6px;
    margin: 0;
    color: #000000;
    font-family: Arial;
    font-size: 0.7em;
}

.icon-plus:before {
    content: "+";
}

/** Tables **/
table {
    border-collapse: collapse
}

tr,
td {
    border: solid 1px #ddd;
    vertical-align: top;
}

table.weblinks,
table.category {
    margin: 10px 10px 20px 0px;
    width: 100%;
}

table.weblinks td,
table.category td {
    border-collapse: collapse;
    padding: 7px;
}

table.weblinks th,
table.category th {
    padding: 7px;
    text-align: left
}

td.num {
    vertical-align: top;
    text-align: left;
}

td.hits {
    vertical-align: top;
    text-align: center
}

td p {
    margin: 0;
    line-height: 1.3em
}

.display-limit,
.filter {
    text-align: right;

}

tr.cat-list-row1,
.category tr.odd {
    background-color: rgb(242, 242, 242);
}

.category tr.even {
    /*background-color: #2d2d2d;*/
}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th {
    background: #000000;
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th {
    color: #fff
}

table.category th a img {
    border: solid 0px;
    display: none;
}

table.category th a:hover {
    color: #6fe3f2;
    transition: linear 100ms;
}

table.moduletable td,
table.moduletable tr {
    border: 0;
}

/** Pagination **/
.pagenav {
    padding: 2px
}

ul.pagenav {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 4px;
    overflow: hidden;
}

li.pagenav-prev a,
li.pagenav-next a,
li.previous a,
li.next a {
    font-family: Arial;
    font-weight: bold;
    font-size: 13.5px;
    color: #fff;
    background-color: #6fe3f2;
    border: 0px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 15px;
    text-decoration: none;
}

li.pagenav-prev a:hover,
li.pagenav-next a:hover,
li.previous a:hover,
li.next a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    transition: linear 100ms;
}

li.pagenav-prev,
li.previous {
    float: left;
}

li.pagenav-next,
li.next {
    float: right
}

.pagination ul li {
    display: inline;
    text-align: left;
    overflow: auto;
}

.pagination ul {
    text-align: center;
}

.pagination ul li span {
    padding-left: 0px;
    padding-right: 6px;
    margin-left: 0px;
    margin-right: 6px;
    color: #000;
    font-weight: bold;
}

.pagination ul li a {
    padding-left: 0px;
    padding-right: 6px;
    margin-left: 0px;
    margin-right: 6px;
    color: #6fe3f2;
    font-weight: bold;
}

.pagination ul li a:hover {
    color: #000000;
    text-decoration: none;
    transition: linear 100ms;
}

#adminForm div.pagination ul {
    margin-left: 0px;
}

#adminForm div.pagination ul li span,
#adminForm div.pagination ul li a {
    padding-left: 0px;
    padding-right: 16px;
    margin-left: 0px;
    margin-right: 20px;
    color: #6fe3f2;
}

.pagination li.pagination-start,
.pagination li.pagination-next,
.pagination li.pagination-end,
.pagination li.pagination-prev {
    border: 0
}

p.counter {
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}

/** Blog **/

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}

.cols-2 .column-1 {
    width: 48%;
    float: left;
}

.cols-2 .column-2 {
    width: 48%;
    float: right;
    margin: 0
}

.cols-3 .column-1 {
    float: left;
    width: 29%;
    padding: 0px 5px;
    margin-right: 4%
}

.cols-3 .column-2 {
    float: left;
    width: 29%;
    margin-left: 0;
    padding: 0px 5px
}

.cols-3 .column-3 {
    float: right;
    width: 29%;
    padding: 0px 5px
}

.items-row {
    overflow: hidden;
    margin-bottom: 10px !important;
}

.column-2 {
    width: 55%;
    margin-left: 40%;
}

.column-3 {
    width: 30%
}

.blog-more {
    padding: 10px 5px
}

/** Login **/

#login-form fieldset.userdata {
    margin-bottom: 5px;
    margin-top: -15px;
    margin-left: 0px;
    border: 0px;
    font-size: 0.96em;
    float: left;
}

.area_cliente_login {
    cursor: pointer;
}

.form-login {
    position: absolute;
    z-index: 99;
    padding: 10px;
    background-color: #6fe3f2;
    margin-left: -130px;
    width: 250px;
}

.form-login label {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
}

.area_cliente_logout {
    cursor: pointer;
}

.form-logout {
    width: 250px;
    position: absolute;
    z-index: 99;
    padding: 10px;
    background-color: #6fe3f2;
    margin-left: -130px;
}

.login-greeting {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
}

ul.unstyled {
    display: table;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    width: 100%;
}

ul.unstyled li {
    float: left;
    width: 96%;
    padding: 0 2%;
    line-height: 2;
    text-align: center;
}

ul.unstyled li a {
    color: #FFF;
    font-family: Arial;
    font-size: 10px;
    text-decoration: none;
}

#login-form input.inputbox,
#modlgn-username,
#modlgn-passwd {
    width: 96%;
    margin-left: 0px;
    padding: 5px 2%;
    border: 0;
    outline: none;
}

#login-form label {
    display: block;
    margin-left: 0px;
}

#form-login-remember label {
    float: none;
    width: auto;
    display: inline;
    font-size: 14px;
}

#form-login-remember input.inputbox {
    width: auto;
    border: 0;
}

.login,
.dados-login {
    border: 0;
    width: 46%;
    padding: 0 2%;
    float: left;
}

.login label {
    float: left;
    margin-right: 10px;
    font-size: 14px;
}

.login #username-lbl,
.login #password-lbl {
    font-size: 20px;
}

.login button[type="submit"].btn {
    margin: auto;
    display: table;
    padding: 10px 50px;
}

.login-fields {
    margin: 10px 0
}

.login-fields label {
    float: left;
    width: 9em
}

.login-description,
.logout-description {
    overflow: hidden;
    padding-left: 5px;
    margin: 20px 0 10px 0
}

.logout-description {
    margin-bottom: 20px
}

.dados-login ul {
    list-style: none;
    padding: 0;
}

.dados-login ul li a {
    text-decoration: none;
    color: #666;
}

.dados-login ul li a:hover {
    font-family: Arial;
}

.validate-username,
.validate-password,
.validate-email,
#jform_name {
    width: 96%;
    margin: 0 0 10px 0;
    padding: 5px 2%;
    border: 0;
    background-color: #e7f8f1 !important;
    font-family: Arial;
    font-size: 16px;
}

.icon-user {
    display: none;
}

.userdata label,
#form-login-remember {
    margin-top: 10px;
    float: left;
}

#form-login-submit {
    margin-top: 10px;
    float: right
}

.icon-lock.tip {
    display: none;
}

fieldset div div input {
    margin-bottom: 5px;
}

/** User profile **/

#users-profile-core,
#users-profile-custom {
    margin: 10px 0 15px 0;
    padding: 15px;
}

#users-profile-core dt,
#users-profile-custom dt {
    float: left;
    width: 12em;
    padding: 3px 0;
}

#users-profile-core dd,
#users-profile-custom dd {
    padding: 3px 0;
}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend {
    font-family: Arial;
    margin-bottom: 20px;
    font-size: 24px;
}

#jform_spacer-lbl {
    display: none;
}

.registration .control-group {
    width: 46%;
    padding: 0 2%;
    display: table;
    float: left;
}

.registration .control-group input {
    width: 96%;
    margin: 0 0 10px 0;
    padding: 5px 2%;
    border: 0;
    background-color: #e7f8f1 !important;
    font-family: Arial;
    font-size: 16px;
}

.registration .control-group select {
    width: 100%;
    margin: 0 0 8px 0;
    padding: 5px 2%;
    border: 0;
    background-color: #e7f8f1 !important;
    font-family: Arial;
    font-size: 16px;
}

.submit-group {
    padding-top: 30px !important;
    width: 96% !important;
}

.submit-group .controls {
    display: table;
    margin: auto;
}

.registration .control-group .submit,
.cancelar {
    margin: 0 10px;
    padding: 10px 20px !important;
    text-decoration: none;
    color: #FFF;
    display: inline-table;
    float: left;
    font-family: Arial;
    font-size: 14px;
    line-height: 1;
}

.registration fieldset {
    display: table;
}

.profile-edit form#member-profile fieldset dd,
.registration form#member-registration fieldset dd {
    float: none;
    padding: 5px 0;
}

.profile-edit form#member-profile fieldset dd input,
.profile-edit form#member-profile fieldset dd select,
.registration form#member-registration fieldset dd input {
    width: 17em;
}

.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt {
    clear: left;
    float: left;
    padding: 5px 5px 5px 0;
    width: 16em;
}

#users-profile-core,
#users-profile-custom {
    border: solid 1px #ccc;
}

#user-registration.form-validate fieldset {
    border: solid 0px;
    padding-left: 0;
}

.btn-toolbar li {
    display: inline;
    margin-left: -30px;
}

/** Contacts **/

h3.pane-toggler {
    font-size: 1.1em;
    border-top: 1px solid rgb(226, 226, 226);
    margin-bottom: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}

h3.pane-toggler-down {
    font-size: 1.1em;
    border-top: 1px solid rgb(226, 226, 226);
    margin-bottom: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
}

address span {
    display: block;
    font-style: normal;
}

.contact-address img {
    margin-bottom: 10px;
}

.panel .contact-form,
.panel .contact-miscinfo {
    padding: 10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address {
    margin: 20px 0 0 0
}

#contact-form fieldset {
    border: 0px;
}

#contact-form fieldset dl dt {
    padding-top: 4px;
}

#jform_contact_email_copy-lbl {
    float: left;
    padding-right: 6px;
}

#jform_contact_email_copy {
    margin: 4px;
}

.star {
    color: #cc0000;
}

.accordion-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em;
    text-decoration: none;
}

.accordion-heading a {
    text-decoration: none;
    color: #333333;
    cursor: default;
}

div#basic-details div div img {
    padding-bottom: 10px;
}

div#basic-details div dl dt span img,
div#display-misc div div dl dt span img {
    display: none;
}

form#adminForm ul li {
    /*background-color: #000;*/
    background-color: inherit;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-left: -28px;
    border: 0;
    list-style-type: none;
}

/** Search **/

.searchintro {
    font-weight: normal;
    margin: 20px 0 20px;
}

.searchintro img {
    border: 0px
}

.word {
    border: solid 0px #ccc;
}

fieldset.word label {
    font-weight: bold;
    color: #333;

}

.form-limit {
    margin: 20px 0 0;
    text-align: right;
    padding: 0 10px 0 20px;
}

.highlight {
    font-weight: bold;
}

.ordering-box {
    width: 40%;
    float: right;
}

.phrases-box {
    width: 60%;
    float: left
}

.only,
.phrases {
    border: solid 1px #ccc;
    margin: 10px 0 0 0px;
    padding: 15px;
    line-height: 1.3em;
}

label.ordering {
    display: block;
    margin: 10px 0 10px 0
}

.word {
    padding: 10px 10px 10px 0;
}

.word input,
#search-searchword {
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    padding: 4px;
    font-size: 1em
}

.word label {
    font-weight: bold
}

fieldset.only label,
fieldset.phrases label {
    margin: 0 10px 0 0px
}

.ordering-box label.ordering {
    margin: 0 10px 5px 0;
    float: left
}

form .search label {
    display: none
}


.search legend {
    font-weight: bold
}

div.search form#searchForm div.btn-toolbar div.btn-group.pull-left button {
    display: none;
}

/** Search results **/

dl.search-results dt.result-title {
    border-top: solid 1px #ddd;
    padding-top: 10px;
    font-weight: bold;
}

dl.search-results dd.result-created {
    padding-top: 6px;
    padding-bottom: 10px;
    color: rgb(170, 170, 170);
}

dd.result-category {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Stats */
.stats-module dl {
    margin: 10px 0 10px 0
}

.stats-module dt {
    float: left;
    margin: 0 10px 0 0;
    font-weight: bold;
}

.stats-module dt,
.stats-module dd {
    padding: 2px 0 2px 0
}

/* Syndicate */

a.feed-link {
    margin-top: 15px;
    display: block;
    text-decoration: none
}

.feed-link img {
    border: 0
}

/** Footer **/

#footer_wrap {
    width: 100%;
    display: table;
}

#footer {
    background-color: #f6f6f6;
    width: 100%;
    display: table;
}

.custom-frase {
    background: url("../../../images/back-frase.jpg") no-repeat bottom;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.custom-frase>div {
    background-color: #6fe3f2;
}

.custom-frase h1 {
    color: #FFF;
    font-size: 36px;
    text-align: center;
    padding: 40px 0;
    font-family: Arial;
    margin: 0;
    text-transform: uppercase;
}

#bottom_wrap {
    width: 100%;
    display: table;
    background-color: #35485C;
    border: 0;
}

#copyright {
    clear: both;
    width: 100%;
    display: flex;
    background-color: #35485C;
    justify-content: center;
}

.copyrightint {
    max-width: 1170px;
    display:flex;
    gap: 10px;
    padding: 10px 0;
    color: #FFF;
    font-family: "Cordia-New";
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
}

a.sd {
    text-decoration: none;
    float: right;
    padding-bottom: 10px;
}

/** Box/Banner/Links **/

#bottom_wrap .linha {
    height: 24px;
    display: table;
    width: 100%;
    background: url(../../../images/linha-footer.png) no-repeat;
    margin-top: -24px;
}

#box_wrap {
    overflow: auto;
    margin: auto;
    width: 100%;
    max-width: 1170px;
}

#box_placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    width: 100%;
    max-width: 1170px;
}

#box_placeholder a:hover {
    color: #fff;
}

#box_placeholder h1,
#box_placeholder h2,
#box_placeholder h3 {
    color: #969696;
}

#box1 {
    max-width: 300px;
    width: 33%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#box2 {
    width: 34%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#box3 {
    max-width: 300px;
    width: 33%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.custom-endereco-rodape a {
    color: #FFF;
    line-height: 0px;
    font-weight: bold;
    font-size: 1.125rem;
}

.custom-endereco-rodape p {
    text-align: center;
}

.custom-endereco-rodape a:hover {
    color: #010530 !important;
}

.custom-contato-rodape a {
    color: #FFF;
    font-size: 1.125rem;
}

.custom-contato-rodape {
    text-align: center;
}

.custom-contato-rodape a:hover {
    color: #010530 !important;
}

/** Editor **/

#adminForm.form-validate fieldset {
    border: solid 1px #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
}

#adminForm legend {
    font-weight: bold;
}

.edit.item-page {
    max-width: 660px;
}

#adminForm.form-validate fieldset div.formelm {
    padding-bottom: 10px;
    display: block;
}

#adminForm.form-validate fieldset div.formelm label,
#adminForm.form-validate fieldset div.formelm input {
    display: inline-block;
}

#adminForm.form-validate fieldset div.formelm label {
    width: 120px;
}

#adminForm.form-validate fieldset div.formelm-area label,
#adminForm.form-validate fieldset div.formelm-area input {
    display: inline-block;
}

#adminForm.form-validate fieldset div.formelm-area label {
    width: 120px;
    vertical-align: top;
}

#adminForm.form-validate fieldset div.formelm-buttons {
    margin-top: -32px;
    padding-bottom: 10px;
    height: 20px;
    float: right;
}

#jform_articletext_tbl.mceLayout {
    clear: both;
}

#editor-xtd-buttons div.button2-left div.readmore a {
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    cursor: pointer;
    padding-top: 0pt;
    padding-right: 24px;
    padding-bottom: 0pt;
    padding-left: 6px;
    color: #666666;
    text-decoration: underline;
    background-color: #f3f3f3;
}

#editor-xtd-buttons div.button2-left div.readmore a:hover {
    color: #6fe3f2;
    transition: linear 100ms;
}

form#adminForm fieldset ul {
    display: none;
}

input#jform_title {
    width: 300px;
    margin-bottom: 10px;
}

form#adminForm.form-validate.form-vertical div.btn-toolbar div.btn-group {
    display: inline;
}

form#adminForm fieldset div div#editor div#editor-xtd-buttons div a,
form#adminForm fieldset div div#editor div div a {
    text-decoration: none;
    display: inline;
}

form#adminForm>fieldset>div>div#editor>div#editor-xtd-buttons {
    margin-left: -5px;
}

.toggle-editor {
    float: right;
    margin-top: -25px;
}

#jform_publish_down_img,
#jform_publish_up_img {
    width: 19px;
    height: 19px;
    margin-bottom: -5px;
}

#jform_publish_down_img {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    background: url(../images/system/calendar.png) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

#jform_publish_up_img {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    background: url(../images/system/calendar.png) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/** Mailto Window **/

#mailto-window {
    padding: 20px;
    width: 340px;
}

#mailto-window h2 {
    padding-bottom: 10px
}

#mailto-window p {
    clear: left;
    padding-top: 20px
}

#mailto-window label {
    padding: 0px;
}

#mailto-window input {
    margin: 4px;
    padding: 6px;
    padding-right: 24px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    outline: none;
}

#mailtoForm div.formelm label,
.formelm input {
    display: inline-block;
}

#mailtoForm div.formelm label {
    width: 80px;
}

#mailtoForm div.formelm input {
    width: 160px;
}

#mailto-window div.mailto-close a {
    display: none;
}

body.contentpane {
    background-color: #fff;
}

/** Print Window **/

#main div.item-page {
    margin: 10px;
}

#main div.item-page ul.actions li {
    /* float: right; */
}

body.contentpane,
body.contentpane h1,
body.contentpane h2,
body.contentpane h3,
body.contentpane h4,
body.contentpane h5,
body.contentpane h1 a,
body.contentpane h2 a,
body.contentpane h3 a,
body.contentpane h4 a,
body.contentpane h5 a {
    color: #000;
}

body.contentpane a:hover {
    color: #000;
    transition: linear 100ms;
}

.moduletable-banner-int.noticias-cases {
    background: url('../../../images/banners/banner_int.jpg') no-repeat top;
}

.moduletable-banner-int.empresa {
    background: url('../../../images/banners/banner_empresa.jpg') no-repeat top;
}

.moduletable-banner-int.o-que-fazemos {
    background: url('../../../images/banners/banner_o_que_fazemos.jpg') no-repeat top;
}

.moduletable-banner-int.clientes-parceiros {
    background: url('../../../images/banners/banner_clientes_parceiros.jpg') no-repeat top;
}

.moduletable-banner-int.links-uteis {
    background: url('../../../images/banners/banner_links_uteis.jpg') no-repeat top;
}

.moduletable-banner-int.contato {
    background: url('../../../images/banners/banner_contato.jpg') no-repeat top;
}

.moduletable-banner-int {
    width: 100%;
    display: table;
}

.custom-banner-int {
    width: 1170px;
    margin: auto;
}

.custom-banner-int h1 {
    margin: 170px 0 60px 0;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    color: #FFF;
}

.menu-servicos {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-category.servicos {
    width: 100%;
    display: table;
    margin: -70px 0;
    background: url('../../../images/back_servicos.png') no-repeat top center;
    position: relative;
    z-index: 1;
}

ul.category-module-servicos {
    margin: 0 auto;
    padding: 70px 0 104px 0;
    list-style: none;
    width: 1170px;
    display: table;
}

ul.category-module-servicos li {
    float: left;
    width: 23%;
    margin: 0 1%;
}

ul.category-module-servicos li a,
ul.category-module-servicos li a:hover {
    display: table;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

ul.category-module-servicos li a img {
    width: 100%;
}

ul.category-module-servicos li a p {
    font-family: Arial;
    font-size: 30px;
    color: #6fe3f2;
    line-height: 1.1;
    margin: 0;
}

.home-article {
    background-color: #fdfdfd;
    min-height: 0 !important;
}

.blog-featured-home img {
    margin: 0 0 10px 30px;
}

.blog-featured-home .readmore a {
    margin-top: 10px;
    float: right;
    background-color: #6fe3f2;
    padding: 5px 15px 5px 60px;
    color: #ffffff;
    font-family: Arial;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: normal;
}

.blog-noticias-cases .readmore a {
    margin-top: 10px;
    float: right;
    background-color: #6fe3f2;
    padding: 5px 15px 5px 60px;
    color: #ffffff;
    font-family: Arial;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: normal;
}

.item-page.clientes-parceiros {
    display: table;
    width: 100%;
}

.item-page.clientes-parceiros>div {
    display: table;
    margin: auto;
    text-align: center;
}

.item-page.clientes-parceiros>div img {
    margin: 0 15px 10px 15px;
}

/*RODAPE*/

.menu-menu-map {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 200px;
}

.menu-menu-map li a {
    font-family: Arial;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    padding-bottom: 10px;
    display: table;
    margin: auto;
}

.moduletable-contato h3 {
    font-family: Arial;
    font-size: 30px;
    color: #FFF;
    margin-bottom: 40px;
}

.custom-contato h1 {
    font-family: Arial;
    font-size: 30px;
    margin: 0 0 40px 0;
    color: #FFF;
    line-height: 1.2;
    text-transform: uppercase;
}

.custom-contato address {
    margin-bottom: 40px;
}

.custom-contato address p {
    font-family: Arial;
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #FFF;
    line-height: 1.2;
}

.custom-contato address.endereco {
    margin-bottom: 0px;
}

.custom-contato address.endereco p {
    font-family: Arial;
    font-size: 18px;
    margin: 0 0 5px 0;
    color: #FFF;
    line-height: 1.2;
}

.custom-redes-sociais {
    display: table;
    margin: 20px auto 0 auto;
}

.custom-redes-sociais p {
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    color: #FFF;
    margin: 0 5px;
    line-height: 1.2;
}

.custom-redes-sociais p a,
.custom-redes-sociais p a:hover {
    text-decoration: none;
}

.custom-redes-sociais p a i {
    font-size: 40px;
    float: right;
    display: table;
    margin-left: 5px;
    margin-top: -2px;
    background: #FFF;
    background: -webkit-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    background: -o-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    background: -moz-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    background: linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titulo-contato h2 {
    line-height: 1.2;
    color: #010530;
    font-size: 24px;
    margin: 0 0 30px 0;
    text-align: left;
    border-bottom: 1px solid #383838;
}

.contact-form fieldset {
    width: 46%;
    float: left;
    padding: 10px 2%;
}

.contact-form input::placeholder {}

.contact-form input {
    width: 96%;
    padding: 8px 2%;
    margin-bottom: 14px;
    background-color: #f1f1f1 !important;
    color: #000;
    font-family: Arial;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #14395F;
}

.contact-form textarea {
    width: 96%;
    padding: 8px 2%;
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial;
    background-color: #EEE;
    /* display: table; */
    height: 128px;
    border-radius: 5px;
    border: 1px solid #14395F;
}

.contact-form .form-actions button {
    float: right;
    line-height: 1;
    text-align: center;
    font-family: Arial !important;
    font-size: 18px;
}

.custom-mapa {
    line-height: 0;
}

.custom-clique-aqui {
    background: url(../../../images/back-clique-aqui.jpg) no-repeat center;
    display: table;
    width: 100%;
}

.custom-clique-aqui a {
    text-decoration: none;
}

.custom-clique-aqui div {
    width: 1170px;
    margin: auto;
    padding: 60px 0;
}

.custom-clique-aqui div p {
    margin: 0;
    font-family: Arial;
    color: #FFF;
    font-size: 30px;
    text-align: center;
}

.custom-clique-aqui div p span {
    font-family: Arial;
}

/** Menu Responsive **/

.gotomenu {
    display: table;
    width: 100%;
    visibility: hidden;
    padding-top: 5px;
}

#gotomenu {
    float: right;
    cursor: pointer;
}

#gotomenu i {
    font-size: 28px;
    color: #FFF;
}

.menuresp {
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.menuresp ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.67);
    margin-top: 1px;
}

.menuresp li.active a {
    color: #6fe3f2;
}

.menuresp a {
    text-align: center;
    width: 100%;
    display: table;
    padding: 5px 0;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
}

.menuresp a:hover {
    text-decoration: none;
    color: #6fe3f2;
    transition: linear 100ms;
}


/***************************************/

/** Left Menu Responsive **/

.gotomenuprod {
    display: table;
    width: 100%;
    visibility: hidden;
    background-color: #6fe3f2;
}

#gotomenuprod {
    cursor: pointer;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    color: #6fe3f2;
}

#gotomenuprod i {
    vertical-align: middle;
}

.activesmallmenu {
    background-color: #6fe3f2;
    font-family: Arial;
}

.menurespprod {
    visibility: hidden;
    width: 100%;
    position: absolute;
    left: 0;
}

.menurespprod ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #6fe3f2;
}

.menurespprod li {
    margin: 0;
    border-bottom: 1px solid #6fe3f2;
}

.menurespprod li.active,
.menurespprod li.active a,
.menurespprod li:hover,
.menurespprod li:hover a,
.menurespprod li a:hover {
    text-decoration: none;
    background-color: #6fe3f2;
    font-family: Arial;
    color: #6fe3f2;
    transition: linear 100ms;
}

.menurespprod a {
    text-align: center;
    width: 100%;
    display: table;
    padding: 5px 0;
    text-transform: uppercase;
    color: #6fe3f2;
}

.menurespprod a:hover {
    text-decoration: none;
    color: #666;
    transition: linear 100ms;
}

/***************************************/

.locendereco {
    width: 50%;
    float: left;
}

.locendereco p {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.locendereco p span {
    font-family: Arial;
}

.locendereco a {
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    background: #e2e2e2;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e2e2e2, #FFF, #e2e2e2);
    /* Standard syntax */
    font-family: Arial;
    font-size: 14px;
    color: #a90000;
    display: table;
    line-height: 1;
    text-decoration: none;
}

.locendereco a:hover {
    text-decoration: none;
    background: #FFF;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #e2e2e2, #FFF);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #e2e2e2, #FFF);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #e2e2e2, #FFF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #e2e2e2, #FFF);
    /* Standard syntax */
}

.moduletable_menu ul {
    padding: 10px 0;
    list-style: none;
    margin: auto;
    display: table;
}

.locendereco h4 {
    color: #fff;
    font-size: 24px;
    padding-bottom: 20px;
    font-family: Arial;
}

.item-page-quem-somos ul {
    padding: 0;
    list-style: none;
}

.item-page-quem-somos ul li {
    padding-left: 30px;
    display: inline-table;
    list-style: circle;
}

.item-page-quem-somos ul li:before {
    content: "* ";
    vertical-align: sub;
}

.item-page-noticias-cases h2,
.blog-noticias-cases h2 {
    font-size: 26px;
}

.tooltip {
    display: none !important;
}

.customendereco-rodape p {
    margin-top: 80px;
    margin-left: 80px;
    float: right;
    font-size: 16px;
}

.customendereco-rodape a {
    color: #FFF;
}

.customendereco-rodape a:hover {
    color: #BBBBBB;
}

.btn-contato {
    float: none;
}

.btn-casos-sucesso {
    float: none;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
}

.service-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.service-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 300px;
    overflow: hidden;
}

.service-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.service-content {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.service-title {
    font-size: 1.25rem;
    margin: 0 0 0.5rem 0;
    color: #333333;
    line-height: 1.2;
}

.service-description {
    flex: 1;
    font-size: 1rem;
    color: #666666;
    margin: 0 0 1rem 0;
    line-height: 1.4;
}

.service-link {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0066cc;
    text-decoration: none;
    border: 1px solid #0066cc;
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-link:hover {
    background-color: #0066cc;
    color: #ffffff;
}

.secao-leia-mais-home {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 3.75rem;

}

.secao-leia-mais-home img {
    margin-right: 40px;
}

.secao-leia-mais-home>div {
    margin: auto 0;
}

.secao-leia-mais-home a {
    padding: 0.5rem 0.9rem;
}

#whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #25D366;
    /* verde WhatsApp */
    color: white;
    border-radius: 50%;
    padding: 15px 18px;
    font-size: 28px;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {

    #header,
    .camera_wrap .camera_pag .camera_pag_ul,
    .single-article,
    #content-menu_wrap,
    #box_placeholder,
    .copyrightint,
    .custom-banner-int {
        width: 96%;
    }

    #logo img {
        height: 100px;
    }

}

@media screen and (max-width: 1024px) {
    .cameraContent .camera_caption_title {
        font-size: 24px;
    }

    .single-article h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    .single-article p {
        font-size: 18px;
    }

    .single-article img,
    .blog-featured-home img,
    .item-page-quem-somos img {
        max-width: 300px;
    }

    .custom-frase h1 {
        font-size: 24px;
    }

    .titulo-contato h2,
    .item-page-noticias-cases h2,
    .blog-noticias-cases h2,
    h2 {
        font-size: 32px;
    }

    p {
        font-size: 32px;
    }

    #box1 {
        justify-content: center;
    }

    #box_placeholder {
        justify-content: center;
    }

    .custom-logo>div {
        float: right;
        margin-right: 20px;
    }

    .custom-midias {
        display: table;
        margin: auto;
    }

    .item-page-noticias-cases img {
        max-width: 100%;
    }

    .copyrightint {
        font-size: 1rem
    }
}

@media screen and (max-width: 768px) {

    .single-article img,
    .blog-featured-home img,
    .blog-noticias-cases img,
    .item-page-noticias-cases img:first-child {
        max-width: 240px;
    }

    #box_placeholder {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .customendereco-rodape p {
        margin-top: 40px;
        margin-left: 30px;
        font-size: 0.825rem;
    }

    #box3 {
        width: auto;
        float: none;
        display: table;
        margin: auto;
    }

    .custom-banner-int h1 {
        font-size: 30px;
    }

    #logo img {
        height: 90px;
    }
}

@media screen and (max-width: 600px) {

    .single-article img,
    .blog-featured-home img,
    .item-page-quem-somos img,
    .blog-noticias-cases img,
    .item-page-noticias-cases img:first-child {
        max-width: 300px;
        float: none !important;
        margin: 0 auto 20px auto !important;
        display: table;
    }

    .service-grid {
        grid-template-columns: repeat(1, minmax(240px, 1fr));
    }

    .service-image-wrapper {
        padding-top: 250px;
    }

    .secao-leia-mais-home {
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .secao-leia-mais-home a {
        text-align: center;
        float: none;
        padding: 1rem 1.4rem;
        font-size: 16px;
    }

    .secao-leia-mais-home p {
        text-align: center;
    }

    .botao-secao-leia-mais-home {
        margin-top: 30px;
    }

    .imagem-secao-leia-mais-home{
        order: 1;
        display: flex;
        justify-content: center;
    }

    .texto-secao-leia-mais-home {
        order: 2;
    }

    .secao-leia-mais-home > p{
        display: flex;
        align-items: center;
    }

    .secao-leia-mais-home img{
        width:70px;
        height: auto;
        margin: auto
    }

    #logo a {
        padding: 8px 0;
    }

    .btn {
        font-size: 14px;
        padding: 0.5rem 0.8rem;
    }

    #box_placeholder {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #topmenu_wrap .midias {
        width: 30px;
        height: 30px;
    }

    #topmenu_wrap .custom-midias p {
        font-size: 14px;
    }

    #box1 {
        width: 100%;
    }

    #box2 {
        width: 100%;
    }

    #box3 {
        width: 100%;
    }

    #box1 img {
        height: 150px;
        width: auto;
        float: right;
    }

    .customendereco-rodape p {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 0.65rem;
    }

    .copyrightint {
        font-size: 1rem
    }

    #whatsapp-button {
		padding: 14px 17px;
		font-size: 20px;
	}

    .custom-banner-int h1 {
        font-size: 24px;
    }

    p {
        font-size: 28px;
    }

    ul li {
        font-size: 16px;
    }

    h3,
    h4 {
        font-size: 20px;
        text-align: center;
    }

    h2 {
        text-align: center !important;
    }

    p {
        text-align: center;
    }

    .contact-form fieldset {
        width: 96%;
        padding: 0 2%;
    }

    .contact-form fieldset:last-child {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 490px) {
    #header_wrap {
        height: 100px;
    }

    .menuresp ul {
        margin-top: 18px;
    }

    .customendereco-rodape p {
        margin-left: 10px;
        margin-top: 15px;
        font-size: 0.575rem;
        max-width: 230px;
    }


    #logo img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 390px) {
    .menuresp ul {
        margin-top: 1px;
    }

    .menutop {
        float: none;
    }

    #topmenu_wrap {
        float: none;
        width: 100%;
      }
    
      #topmenu {
        display: block;
        width: 100%;
      }
    
      #topmenu ul {
        display: block;
        width: 100%;
      }
    
      #topmenu li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px 0;
      }

    #whatsapp-button {
		padding: 10px 13px;
		font-size: 20px;
	}

    p {
        font-size: 24px;
    }

    h2 {
        font-size: 26px !important;
    }

    .copyrightint {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 366px) { 

}
@media screen and (max-width: 328px) { 

    ul.contact-social {
        margin-right: -20px;
        margin-bottom: -10px;
    }

    #box2 img {
        width: 40px;
    }

    .menuresp ul {
        margin-top: 1px;
    }

    .customendereco-rodape p {
        font-size: 0.5rem;
        max-width: 200px;
    }

    .menutop {
        display: flex;
    flex-wrap: wrap;
    }

    .secao-leia-mais-home img {
        height: auto;
        width: 100px;
    }
}

.menuresp li.active span.separator,

.menuresp li.active a {

    color: #BBBBBB;
    font-weight: bold;
}

.menuresp span.separator,

.menuresp a {

    text-align: center;

    width: 100%;

    display: table;

    padding: 5px 0;

    color: #FFF;

    text-transform: uppercase;

    font-size: 16px;

    cursor: pointer;

    font-weight: bold;

}



.menuresp a:hover {

    text-decoration: none;
    font-weight: bold;
    color: #232323;

}



.menuresp ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: none;
}



.menuresp ul li ul li a,

.menuresp ul li.active ul li a {

    color: #FFF;

    font-size: 14px;

}



.menuresp ul li.active ul li a:hover {
    font-weight: bold;
    color: #232323;

}



.menuresp ul li.active ul li.active a {
    font-weight: bold;
    color: #000;

}

a.close {
    cursor: pointer;
}